<h2 class="display-2 text-white font-weight-bold">Login</h2>
{{#if error}}
    <p class="{{class}} text-white">{{error}}</p>
{{/if}}
<form action="/login" method="POST" id="login-form">
    <div class="row text-white">
        <div class="col-md-12">
            <div class="form-group col-md-6" >
                <label for="email">Email:</label>
                <input type="text" class="form-control" name="email" id="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group col-md-6">
                <label for="password">Password:</label>
                <input type="password" class="form-control" name="password" id="password" required>
            </div>
        </div>
    <button type="submit" type="button" class="btn btn-default ml-4" id="submit">Login</button>
    </div>
</form>

<a href="/signup">Sign Up</a>