<h2> Request Money </h2>
{{#if error}}
    <p class="{{class}}">{{error}}</p>
{{/if}}
<form action="/request" method="POST" id="request-money">
    <label for="granterEmail"> Request to </label>
    <input type="email" name="granterEmail" id="granterEmail">
    <br/>
    <label for="amount"> Amount </label>
    <input type="number" name="amount" id="amount">
    <br/>
    <label for="remark"> Remark </label>
    <input type="text" name="remark" id="remark">
    <br/>
    <button type="submit" id="submit"> Request </button>
</form>
<a href="user/dashboard"> Dashboard </a>