<h2 class="display-2 text-white">Request Money</h2>
{{#if error}}
    <p class="{{class}} text-white">{{error}}</p>
{{/if}}
<form action="/request" method="POST" id="request-money">
    <div class="row text-white">
        <div class="col-md-12">
            <div class="form-group col-md-6" >
                <label for="granterEmail">Request to:</label>
                <input type="email" class="form-control" name="granterEmail" id="granterEmail"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group col-md-6" >
                <label for="amount">Amount:</label>
                <input type="number" class="form-control" name="amount" id="amount" required>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group col-md-6" >
                <label for="remark">Remark:</label>
                <input type="text" class="form-control" name="remark" id="remark" required>
            </div>
        </div>

    <button type="submit" type="button" class="btn btn-default ml-4" id="submit">Request:</button>
</form>