<h1 class="display-2 text-white font-weight-bold">Send Money</h1>
{{#if error}}
    <p class="{{class}} text-white">{{error}}</p>
{{/if}}
<form action="/send" method="POST" id="send-money">
    <div class="row text-white">
        <div class="col-md-12">
            <div class="form-group col-md-6" >
                <label for="receiverEmail">Send to:</label>
                <input type="email" class="form-control" name="receiverEmail" id="receiverEmail"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group col-md-6" >
                <label for="amount">Amount:</label>
                <input type="number" class="form-control" name="amount" id="amount" required>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group col-md-6" >
                <label for="remark">Remark:</label>
                <input type="text" class="form-control" name="remark" id="remark" required>
            </div>
        </div>
    
    <button type="submit" type="button" class="btn btn-default ml-4" id="submit">Send</button>
</form>