<h1 class="display-2 text-white font-weight-bold">Set Budget</h1>
{{#if error}}
    <p class="{{class}} text-white">{{error}}</p>
{{/if}}
<form action="/budget" method="POST" id="budget-form">
    <div class="row text-white">
        <div class="col-md-12">
            <div class="form-group col-md-6" >            
                <label for="income">Income:</label>
                <input type="text" class="form-control" name="income" id="income" placeholder="Please provide your income" required>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group col-md-6" > 
                <label for="grocery">Grocery:</label>
                <input type="text" class="form-control" name="grocery" id="grocery" placeholder="Please provide a percent value" value="0.15" required>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group col-md-6" > 
                <label for="entertainment">Entertainment:</label>
                <input type="text" class="form-control" name="entertainment" id="entertainment" placeholder="Please provide a percent value" value="0.05" required>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group col-md-6" > 
                <label for="eatingOut">Eating Out:</label>
                <input type="text" class="form-control" name="eatingOut" id="eatingOut" placeholder="Please provide a percent value" value="0.05" required>
            </div>
        </div>
        
        <div class="col-md-12">
            <div class="form-group col-md-6" > 
                <label for="bills">BillS:</label>
                <input type="text" class="form-control" name="bills" id="bills" placeholder="Please provide a percent value" value="0.30" required>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group col-md-6" > 
                <label for="savings">Savings:</label>
                <input type="text" class="form-control" name="savings" id="savings" placeholder="Please provide a percent value" value="0.20" required>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group col-md-6" > 
                <label for="misc">Miscellaneous: </label>
                <input type="text" class="form-control" name="misc" id="misc" placeholder="Please provide a percent value" value="0.05" required>
            </div>
        </div>
        
        <div class="col-md-12">
            <div class="form-group col-md-6" > 
                <label for="transportation">Transportation:</label>
                <input type="text" class="form-control" name="transportation" id="transportation" placeholder="Please provide a percent value" value="0.10" required>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group col-md-6" > 
                <label for="departmentalStore">Departmental store:</label>
                <input type="text" class="form-control" name="departmentalStore" id="departmentalStore" placeholder="Please provide a percent value" value="0.10" required>
            </div>
        </div>

    <button type="submit" type="button" class="btn btn-default ml-4" id="submit">Add Budget</button>
</form>