<h2>Set Budget</h2>
{{#if error}}
    <p class="{{class}}">{{error}}</p>
{{/if}}
<form action="/budget" method="POST" id="budget-form">
    <label for="income"> Income </label>
    <input type="text" name="income" id="income" placeholder="1000">
    <br/>
    <label for="grocery"> grocery </label>
    <input type="text" name="grocery" id="grocery" placeholder="0.25" value="0.15">
    <br/>
    <label for="entertainment"> entertainment </label>
    <input type="text" name="entertainment" id="entertainment" placeholder="0.05" value="0.05">
    <br/>
    <label for="eatingOut"> eatingOut </label>
    <input type="text" name="eatingOut" id="eatingOut" placeholder="0.05" value="0.05">
    <br/>
    <label for="bills"> bills </label>
    <input type="text" name="bills" id="bills" placeholder="0.30" value="0.30">
    <br/>
    <label for="savings"> savings </label>
    <input type="text" name="savings" id="savings" placeholder="0.20" value="0.120">
    <br/>
    <label for="misc"> misc </label>
    <input type="text" name="misc" id="misc" placeholder="0.05" value="0.05">
    <br/>
    <label for="transportation"> transportation </label>
    <input type="text" name="transportation" id="transportation" placeholder="0.10" value="0.10">
    <br/>
    <label for="departmentalStore"> departmentalStore </label>
    <input type="text" name="departmentalStore" id="departmentalStore" placeholder="0.10" value="0.10">
    <br/>
    <button type="submit" id="submit"> Add Budget </button>
</form>

<a href="/dashboard"> Dashboard </a>